<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDXuv5p68NauORh-KEq5zlZi-Vr9QR0OBA</string>
	<key>GCM_SENDER_ID</key>
	<string>138985972364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflowENG.easynangora</string>
	<key>PROJECT_ID</key>
	<string>easynangora-81ad5</string>
	<key>STORAGE_BUCKET</key>
	<string>easynangora-81ad5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138985972364:ios:b8d2760d46be99d2a4d1a9</string>
	<key>DATABASE_URL</key>
	<string>https://easynangora-81ad5-default-rtdb.firebaseio.com</string>
</dict>
</plist>